.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.grid__container {
    display: flex;
    justify-content: space-between;
}

.main__title {
    margin-top: 36px;
    font-size: 24px;
    font-weight: bold;
   padding-bottom: 22px;
}

.filter__block {
    display: flex;
    flex-direction: column;
    width: 20%;

    margin-right: 40px;
}
.main__title,
.filter__block::before  {
    border-bottom: 1px solid #EFEFEF;
    margin-top: 22px;
    content: '';
    width: 100%;
}

.filter__title {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.filter__showing___block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
}
